[submodule "functions/tools.common"]
	path = functions/tools.common
	url = https://github.com/gaelcolas/tools.common
[submodule "gaelcolas.tools.common"]
	path = gaelcolas.tools.common
	url = https://github.com/gaelcolas/gaelcolas.tools.common
[submodule "lib/lib.common"]
	path = lib/lib.common
	url = https://github.com/gaelcolas/lib.common
